bin/*
obj/*
.DS_Store
.vs/
*.user
*.suo
*.log
*.tlog
*.cache
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj
*.class
*.dll
*.exe
*.app
*.appx
*.appxbundle
*.msix
*.msixbundle
*.nupkg
*.snk
*.userosscache
*.sln.docstates
.nuget/
packages/
.vscode/

.DS_Store